
@media only screen and (min-width: 769px) {
  #header-wrapper {
    height: 93px;
  }

  #logo {
    padding: 10px 0;
  }

  #logo img {
    width: 150px;
    top: 18px;
    left: 15px;
  }
}

#header {
  position: relative;
}

#header-wrapper {
  height: 93px;
  background: #023452;
}

#nav-wrapper {
  position: absolute;
  top: 68px;
  left: 180px;
}






html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 1.5;
    height: 100%;
    overflow-y: scroll;
    background: #fefefe;
    scroll-behavior: smooth;
    background: #fefefe;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility\9;
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-variant-ligatures: none;
}

h1 {
  color: #3e3e3e;
}

h2 {
  margin: 0 0 0.5rem;
  color: #3e3e3e;
}


h3 {
  margin: 0 0 0.5rem;
  color: #3e3e3e;
}


h4 {
  margin: 0 0 0.3em;
  color: #3e3e3e;
}





ul {
  list-style-type: none;
}

ul ul {
  margin-top: 3px;
  margin-bottom: 0;
}

.container {
  width: 100%;
  max-width: 1140px;
}



button, input, select, textarea {
    font-family: 'Lato', Helvetica, Verdana, sans-serif;
}

a:focus {
    outline: thin dotted;
}

a:hover, a:active {
    outline: 0;
}






.element-invisible {
  border: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
